.controls button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}

#start-btn {
  background: #4caf50;
  color: white;
  border: 2px solid var(--primary-color);
  box-shadow: 4px 4px #4caf50;
  border-radius: var(--full-radius);
}

#start-btn:active {
  box-shadow: none;
  transform: translate(4px, 4px);
}

#restart-btn {
  background: #ff6b6b;
  color: white;
  border: 2px solid var(--primary-color);
  box-shadow: 4px 4px #ff6b6b;
  border-radius: var(--full-radius);
}

#restart-btn:active {
  box-shadow: none;
  transform: translate(4px, 4px);
}

#pause-btn {
  background: #f7b614;
  color: white;
  border: 2px solid var(--primary-color);
  box-shadow: 4px 4px #f7b614;
  border-radius: var(--full-radius);
}

#pause-btn:active {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.modal-end__btn {
  inline-size: 300px;
  padding: 10px 20px;
  margin: 10px 10px;
  background: var(--third-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  box-shadow: 4px 4px var(--third-color);
  border-radius: var(--full-radius);
}

.modal-end__btn:active {
  box-shadow: none;
  transform: translate(4px, 4px);
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.dino-game__card {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  border-radius: var(--card-radius, 16px);
  background: var(--primary-color);
  color: var(--third-color);
  box-shadow: 0 0 24px 4px var(--shadow-color, rgba(18, 18, 18, 0.1));
  height: 100%;
  overflow: hidden;

  justify-content: center;
  align-items: center;
}

.modal-start__btn {
  inline-size: 300px;
  padding: var(--spacing-md);
  background: var(--primary-color);
  color: var(--third-color);
  border-radius: var(--card-radius, 16px);
  border: 4px solid var(--third-color);
  box-shadow: 6px 6px var(--third-color);
}

.modal-start__btn:active {
  box-shadow: none;
  transform: translate(6px, 6px);
}

.dino-game__modal__canvas {
  background-color: var(--primary-color);
  border: 0;
  border-radius: var(--card-radius, 16px);
  width: 90%;
  height: 90%;
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

.dino-game__modal__canvas__container {
  inline-size: 100%;
  block-size: 100%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;

  .controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
  }
}

/* 다크 모드 전환 시 이미지 변경 */
@media (prefers-color-scheme: dark) {
  .dino-game__card__img {
    content: url("/img/dinosour/gamestart-white.svg");
  }
}
