@import "../styles/common/index.css";
@import "../styles/components/index.css";

.app {
  display: grid;
  /* width: 100%; */
  height: 100vh;
  min-width: var(--app-min-width);
  padding: var(--spacing-sm);
  row-gap: var(--spacing-sm);
  column-gap: var(--spacing-sm);
  background-color: var(--primary-color);
  grid-template-rows: repeat(7, minmax(0, 1fr));
  grid-template-columns: repeat(6, minmax(0, 1fr));
  align-items: center;
  grid-template-areas:
    "logo logo search search . login"
    "weather weather weather weather weather weather"
    "weather weather weather weather weather weather"
    "weather weather weather weather weather weather"
    "links todo memo memo calendar calendar"
    "links todo memo memo calendar calendar"
    "links todo memo memo calendar calendar";
}

.logo-link {
  grid-area: logo;
  color: var(--third-color);
  font-size: var(--font-lg);
}

.search-bar {
  grid-area: search;
}

.weather-tab {
  grid-area: weather;
}

.link-card {
  grid-area: links;
}

.todo-list {
  grid-area: todo;
}

.memo__wrapper {
  grid-area: memo;
  height: 100%;
}

.calendar {
  grid-area: calendar;
  /* 이 밑에 있는 부분은 캘린더가 완성되면 삭제해야 함 */
  box-shadow: 0 0 24px 4px var(--shadow-color);
  display: flex;
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  border-radius: var(--card-radius);
  font-size: var(--font-lg);
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
