<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../src/style.css">
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
    <title>버튼</title>
    <style>
      body {
        margin: 32px;
        display: flex;
        flex-flow: column nowrap;
        gap: 16px;
      }

      h1 {
        font-size: 24px;
        font-weight: 700;
        color: #2d2d2d;
      }
    </style>
   
  </head>
  <body>
    <a href="../../index.html">메인페이지로 돌아가기</a>
    <h1>버튼</h1>
    <button type="button" class="button">버튼</button>
  </body>
</html>