<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="감성적인 배경화면과 할 일을 함께 관리할 수 있는 대시보드 앱 실습용 메모장 컴포넌트 페이지입니다."
    />
    <title>OAuth Login</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="stylesheet" href="../style.css" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script type="module" src="../scripts/login.js"></script>
  </head>
  <body>
    <button class="login-btn" aria-label="Google 계정으로 로그인">
      <div
        class="login-btn__icon"
        role="img"
        aria-label="구글 로그인 아이콘"
      ></div>
    </button>
  </body>
</html>
