<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/common/reset.css" />
    <link rel="stylesheet" href="../styles/components/todolist.css" />
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
    <script type="module" src="./js/popup.js"></script>
    <script type="module" src="./js/todo-list.js"></script>
    <title>투두리스트</title>
   
  </head>
  <body>
    <form class="todo-list__warpper">
      <div class="header">
        <p class="todo-title">Todo- 오늘</p>
        <button type="button" class="popover-trigger">
          <svg width="20" height="30" viewBox="0 0 20 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 16.7083C3.10457 16.7083 4 15.8128 4 14.7083C4 13.6037 3.10457 12.7083 2 12.7083C0.895429 12.7083 0 13.6037 0 14.7083C0 15.8128 0.895429 16.7083 2 16.7083Z" fill="#2D2D2D"/>
          <path d="M10 16.7083C11.1046 16.7083 12 15.8128 12 14.7083C12 13.6037 11.1046 12.7083 10 12.7083C8.89543 12.7083 8 13.6037 8 14.7083C8 15.8128 8.89543 16.7083 10 16.7083Z" fill="#2D2D2D"/>
          <path d="M18 16.7083C19.1046 16.7083 20 15.8128 20 14.7083C20 13.6037 19.1046 12.7083 18 12.7083C16.8954 12.7083 16 13.6037 16 14.7083C16 15.8128 16.8954 16.7083 18 16.7083Z" fill="#2D2D2D"/>
          </svg>
      </button>
          <div class="popover">
          <button type="button" class="reset" aria-label="초기화">초기화</button>
          <button type="button" class="remove" aria-label="할 일 삭제">할 일 삭제</button>
        </div>
      </div>

      <ul class="todo-list__item">
        <li class="task">
          <span class="task-text">시안 정하기</span>
          <div class="form-checkbox_bg-icon">
            <input type="checkbox" id="list-1" name="list-1" />
            <label for="list-1"></label>
          </div>
        </li>
        <li class="task">
          <span class="task-text">시안 정하기</span>
          <div class="form-checkbox_bg-icon">
            <input type="checkbox" id="list-2" name="list-2" />
            <label for="list-2"></label>
          </div>
        </li>
        <li class="task">
          <span class="task-text">시안 정하기</span>
          <div class="form-checkbox_bg-icon">
            <input type="checkbox" id="list-3" name="list-3" />
            <label for="list-3"></label>
          </div>
        </li>
  
        <li class="new-todo">
          <input type="text" id="new-task" name="new-task" placeholder="새 TODO"/>
        </li>
      </ul>
    </form>    
  </body>
</html>